<!-- Sidebar -->
<div id="richard_sidebar" class="hs-overlay [--body-scroll:true] lg:[--overlay-backdrop:false]
 [--is-layout-affect:true] [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform w-65 h-full lg:translate-x-0 lg:open lg:opened fixed inset-y-0 start-0 z-60 bg-white border-e border-gray-200 dark:bg-neutral-800 dark:border-neutral-700" role="dialog" tabindex="-1" aria-label="Sidebar">
  <div class="relative flex flex-col h-full max-h-full">
    <div class="px-6 pt-4 flex items-center">
      <!-- Logo -->
      <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-hidden
      focus:opacity-80" href="#" aria-label="Logo">
        <%= link_to image_tag("logo.svg", alt: "Logo", height: '38.4px', width: '200px', fetchpriority: "high"), root_path %>
      </a>
      <!-- End Logo -->
      <div class="hidden lg:block ms-2"></div>
    </div>

    <!-- Content -->
    <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full
     [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300
      dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
      <nav class="hs-accordion-group p-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-1">
          <li>
            <%= link_to root_path, class: "flex items-center gap-x-3.5 py-2 px-2.5 text-sm #{active?('')}
            text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-white" do %>
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                <polyline points="9 22 9 12 15 12 15 22"/>
              </svg>
              Dashboard
            <% end %>
          </li>

          <li>
            <%= link_to system_audit_trails_path,
                        class: "flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg
                         hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-700
                          dark:hover:bg-neutral-700 dark:focus:bg-neutral-700
                           dark:text-white #{active?("/settings/system/audit_trails")}" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                   fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round" class="lucide lucide-shield-check-icon
         lucide-shield-check shrink-0 size-4">
                <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/>
                <path d="m9 12 2 2 4-4"/>
              </svg>
              Audit logs
            <% end %>
          </li>

          <li>
            <%= link_to root_path, class: "flex items-center gap-x-3.5 py-2 px-2.5 text-sm
            text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-white" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                   stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell-icon
       lucide-bell shrink-0 size-4">
                <path d="M10.268 21a2 2 0 0 0 3.464 0"/>
                <path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/>
              </svg>
              Notifications
            <% end %>
          </li>

          <li>
            <%= link_to root_path, class: "flex items-center gap-x-3.5 py-2 px-2.5 text-sm
            text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-white" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                   fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round" class="lucide lucide-circle-help-icon
                   lucide-circle-help shrink-0 size-4">
                <circle cx="12" cy="12" r="10"/>
                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/>
                <path d="M12 17h.01"/>
              </svg>
              Get help
            <% end %>
          </li>

          <%= render partial: "layouts/shared/side_accordion", locals: {
            accordion_id: "settings-accordion",
            accordion_child_id: "settings-accordion-child",
            accordion_route: '/settings',
            accordion_title: "Settings",
            accordion_icon: ' <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                   fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings shrink-0 size-4">
                <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/>
                <circle cx="12" cy="12" r="3"/>
              </svg>',
            accordion_items: [
              {
                render_partial: {
                  partial: "layouts/shared/side_accordion",
                  locals: {
                    accordion_id: "organisation-accordion-sub-1",
                    accordion_child_id: "organisation-accordion-sub-1-child",
                    accordion_title: "Business Settings",
                    accordion_route: '/settings/organization',
                    accordion_icon: '<svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-library-icon lucide-library"><path d="m16 6 4 14"/><path d="M12 6v14"/><path d="M8 8v12"/><path d="M4 4v16"/></svg>',
                    accordion_items: [
                      { link_text: "Branches", link_href: settings_branches_path,
                        link_route: '/settings/organization/branches' },
                      { link_text: "Roles",
                        link_href: settings_roles_path,
                        link_route: '/settings/organization/roles' },
                      { link_text: "Users",
                        link_href: users_path,
                        link_route: '/settings/organization/users' }
                    ],
                    accordion_content_class: "ms-8 mt-1 space-y-1 border-s border-gray-200"
                  }
                }
              }
            ],
            accordion_content_class: "ms-8 mt-1 space-y-1 border-s border-gray-200"
          } %>

          <%= render partial: "layouts/shared/side_accordion", locals: {
            accordion_id: "system-accordion",
            accordion_child_id: "system-accordion-child",
            accordion_route: '/system',
            accordion_title: "System",
            accordion_icon: ' <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                   fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings shrink-0 size-4">
                <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/>
                <circle cx="12" cy="12" r="3"/>
              </svg>',
            accordion_items: [
              { link_text: "Permissions",
                link_href: system_permissions_path,
                link_route: '/system/permissions' },
              { link_text: "Permission Nodes",
                link_href: system_permission_nodes_path,
                link_route: '/system/permission_nodes' }
            ],
            accordion_content_class: "ms-8 mt-1 space-y-1 border-s border-gray-200"
          } %>
        </ul>
      </nav>

      <div class="bottom-0 fixed justify-center w-full flex bg-white dark:bg-neutral-800">
        <button type="button" class="m-2 px-3 py-1 flex justify-center items-center gap-x-2 border
 border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-hidden
  focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700
   dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500 me-2"
                aria-haspopup="dialog" aria-expanded="false" aria-controls="richard_sidebar"
                aria-label="Toggle navigation" data-hs-overlay="#richard_sidebar" id="toggleButton">
          <span class="sr-only">Toggle Navigation</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
               viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <rect width="18" height="18" x="3" y="3" rx="2" id="rectIcon"/>
            <path d="M15 3v18" id="verticalLine"/>
            <path d="m10 15-3-3 3-3" id="arrowIcon"/>
          </svg>
          <span>Close</span>
        </button>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Sidebar -->


<script nonce="<%= content_security_policy_script_nonce %>">
    document.addEventListener(
        'keydown',
        (event) => {
            if (event.key === 'Escape') {
                event.preventDefault();
                event.stopImmediatePropagation(); // Stops other listeners in the same phase
            }
        },
        {capture: true} // Run in capture phase
    );
</script>