<div id="<%= dom_id business %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= business.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Encoded key:</strong>
    <%= business.encoded_key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Unique:</strong>
    <%= business.unique_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Time format:</strong>
    <%= business.time_format %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Datetime format:</strong>
    <%= business.datetime_format %>
  </div>
</div>
