<%= form_with(model: system_business, class: "contents") do |form| %>
  <% if system_business.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(system_business.errors.count, "error") %> prohibited this system_business from being saved:</h2>

      <ul class="list-disc ml-6">
        <% system_business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": system_business.errors[:name].none?, "border-red-400 focus:outline-red-600": system_business.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :encoded_key %>
    <%= form.text_field :encoded_key, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": system_business.errors[:encoded_key].none?, "border-red-400 focus:outline-red-600": system_business.errors[:encoded_key].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :unique_id %>
    <%= form.text_field :unique_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": system_business.errors[:unique_id].none?, "border-red-400 focus:outline-red-600": system_business.errors[:unique_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :time_format %>
    <%= form.text_field :time_format, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": system_business.errors[:time_format].none?, "border-red-400 focus:outline-red-600": system_business.errors[:time_format].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :datetime_format %>
    <%= form.text_field :datetime_format, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": system_business.errors[:datetime_format].none?, "border-red-400 focus:outline-red-600": system_business.errors[:datetime_format].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
