<%= form_with(model: user, class: "contents",
              url: update_password_users_path,
              method: :patch,
              data: { controller: "form", action: "submit->form#submit", form_target: "form" }
    ) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user photo from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :current_password %>
    <%= form.password_field :current_password, autocomplete: "current-password", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:current_password].none?, "border-red-400 focus:outline-red-600": user.errors[:current_password].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "new-password", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:password].none?, "border-red-400 focus:outline-red-600": user.errors[:password].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:password_confirmation].none?, "border-red-400 focus:outline-red-600": user.errors[:password_confirmation].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit 'Change Password', class: "btn btn-primary w-full" %>
  </div>
<% end %>
