<div data-controller="select">
  <%= form.hidden_field name, data: { select_target: "hiddenInput" } %>
  <% error_classes = if form&.object
                       form.object.errors[name.to_s.gsub('_id', '').to_sym].none? ? 'border-gray-400 focus:outline-blue-600' : 'border-red-400 dark:border-red-400 focus:outline-red-600 dark:focus:outline-red-600'
                     else
                       "border-gray-400 focus:outline-blue-600"
                     end %>
  <select
    <% if defined?(set_auto_focus) && set_auto_focus %>autofocus
    <% end %>
    <% if defined?(disabled) && disabled %>disabled
    <% end %>
    data-action="change->select#updateTarget <%= data[:action] if defined?(data) && data[:action].present? %>"
    <%= tag.attributes(data: defined?(data) ? data.merge(select_target: "input") : { select_target: "input" }) %>
    data-hs-select='{
      "hasSearch": true,
      "searchPlaceholder": "Search...",
      "searchClasses": "block w-full sm:text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-1 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 py-1.5 sm:py-2 px-3",
      "searchWrapperClasses": "bg-white p-2 -mx-1 sticky top-0 dark:bg-neutral-900",
      "placeholder": "<%= placeholder %>",
      "toggleTag": "<button type=\"button\" aria-expanded=\"false\"><span class=\"me-2\" data-icon></span><span class=\"text-gray-800 dark:text-neutral-200 \" data-title></span></button>",
      "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2.5 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-hidden focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-400 dark:text-white dark:focus:outline-hidden dark:focus:ring-1 dark:focus:ring-neutral-600 block shadow-sm rounded-md border px-3 py-2 mt-2 w-full <%= error_classes %>",
      "dropdownClasses": "mt-2 max-h-72 pb-1 px-1 space-y-0.5 z-20 w-full bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700",
      "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800",
      "optionTemplate": "<div><div class=\"flex items-center\"><div class=\"me-2\" data-icon></div><div class=\"text-gray-800 dark:text-neutral-200 \" data-title></div></div></div>",
      "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 dark:text-neutral-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
    }' class="hidden">
    <option value="">Choose</option>
    <% options.each do |option| %>
      <% if option.is_a?(Hash) %>
        <option value="<%= option[:id] %>" <%= 'selected' if selected_option.to_s == option[:id].to_s %>>
          <%= option[:name] %>
        </option>
      <% else %>
        <% if icon %>
          <option value="<%= option.id %>" <%= 'selected' if selected_option.to_s == option.id.to_s %> data-hs-select-option='{"icon": "<img class=\"inline-block size-4 rounded-full\" src=\"<%= icon %>\" alt=\"<%= option.name %>\" />"}'>
            <%= option.name %>
          </option>
        <% else %>
          <option value="<%= option.id %>" <%= 'selected' if selected_option.to_s == option.id.to_s %>>
            <%= option.name %>
          </option>
        <% end %>
      <% end %>
    <% end %>
  </select>
</div>