<% content_for :title, "Branches" %>

<%= render 'shared/breadcrumbs' %>
<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Branches</h1>
  <%= link_to "New Branch", new_settings_branch_path,
              class: "btn btn-primary",
              data: { turbo_frame: "modal" } %>
</div>

<div id="settings_users" class="white_card">
  <% if @settings_branches.any? %>
    <table data-controller="datatable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Is Main</th>
        <th>Status</th>
        <th class="no-export">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @settings_branches.each do |settings_user| %>
        <tr>
          <td><%= settings_user.unique_id %></td>
          <td>
            <%= settings_user.name %>
          </td>
          <td><%= settings_user.isMain ? 'Yes' : 'No' %></td>
          <td>
            <% if settings_user.status == 'pending' %>
              <%= render partial: "shared/badge", locals: { status: Statuses::SECONDARY, label: settings_user.status } %>
            <% elsif settings_user.status == 'active' %>
              <%= render partial: "shared/badge", locals: { status: Statuses::SUCCESS, label: settings_user.status } %>
            <% elsif settings_user.status == 'closed' %>
              <%= render partial: "shared/badge", locals: { status: Statuses::ERROR, label: settings_user.status } %>
            <% end %>
          </td>
          <td>
            <%= link_to "View", settings_user, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center my-10">No branches found.</p>
  <% end %>
</div>