<div class="white_card">
  <h2 class="text-slate-900 dark:text-slate-300 text-3xl font-semibold">Update your password</h2>

  <%= form_with url: password_path(params[:token]), method: :put, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Update", class: "w-full btn btn-primary" %>
    </div>

    <div class="flex items-center justify-center gap-4 mt-5">
      <%= link_to "Back to login", new_session_path, class: "text-gray-700 dark:text-gray-300 hover:underline no-underline" %>
    </div>
  <% end %>
</div>
