<div class="white_card">
  <h2 class="text-slate-900 dark:text-slate-300 text-3xl font-semibold">Forgot your password?</h2>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, "Email Address", class: "mb-2" %>
      <div class="relative flex items-center">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email addresses", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-0 w-full pr-10" %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#bbb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail absolute right-4 w-4 h-4"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
      </div>
    </div>

    <div class="inline">
      <%= form.submit "Email reset instructions", class: "w-full btn btn-primary" %>
    </div>

    <div class="flex items-center justify-center gap-4 mt-5">
      <%= link_to "Back to login", new_session_path, class: "text-gray-700 dark:text-gray-300 hover:underline no-underline" %>
    </div>
  <% end %>
</div>
