<div id="<%= dom_id invitation %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Firstname:</strong>
    <%= invitation.firstname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= invitation.lastname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= invitation.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Inviter:</strong>
    <%= invitation.inviter_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Accepted at:</strong>
    <%= invitation.accepted_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business:</strong>
    <%= invitation.business_id %>
  </div>
</div>
